body{
    margin: 0px auto;
    padding: 0px;
    text-align:center;
    background-color: #faebd7;
    font-family: cambria;
}

.wrapper{
    margin:10px 400px 0 400px;
    width:1080px;
    height:720px;
    background-image: url("../images/img2.png");
    background-size: 1080px 720px;
    background-repeat: no-repeat;
    position:fixed;
}

.logo{
    float:left;
    width: 200px;
    height: 100px;
    padding-top: 5%;
    padding-left: 3%;
}

a.btn--circle {
    float: right;
    width: 40px;
    height: 40px;
    padding: 0;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  }
  
  a.btn--circle i {
    color:black;
    font-size: 150%;
    line-height: 40px;
    -webkit-transition: all .3s;
    transition: all .3s;
    letter-spacing: 0;
  }

  a.btn--circle-c:hover i {
    line-height: 30px;
  }

  a.btn--circle-d:hover i {
    transform: translate(-4px,0);
  }

.left{
    position:absolute;
    right: 60px;
}

.btn {
    font-size: 30px;
    opacity: 0.8;
    border-radius: 15px;
    text-align: center;
    cursor:pointer;
    background-color:antiquewhite;
    width: 250px;
    display: inline-block;   
}

.btn:hover{
    background-color:silver;
}

.container{
     position: absolute;
     top: 10px;
     width: 800px;
     height: 600px;
     font-size: 50px;
     margin-top: 100px;
     margin-left: 120px;
}

.hidden_box {
    margin: 1em 0;
    padding: 0;
}

.hidden_box label {
    width: 450px;
    font-size: 30px;
    opacity: 0.8;
    padding: 15px 50px;
    background: antiquewhite;
    border-radius: 5px;
    cursor :pointer;
    transition: .5s;
    margin-top: 80px;
    
    border-color: black;
    display: inline-block;
}

.hidden_box label:before {
    display: inline-block;
    content: '\f078';
    font-family: 'FontAwesome';
    padding-right: 5px;
    transition: 0.2s;
}

.hidden_box label:hover {
    background: silver;
}

.hidden_box input:checked + label:before {
     content: '\f00d';
     -ms-transform: rotate(360deg);
     -webkit-transform: rotate(360deg);
     transform: rotate(360deg);
     color: #668ad8;
}

.hidden_box input {
    display: none;
}

.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

.hidden_box input:checked + label + .hidden_show {
    padding: 5px 0;
    height: auto;
    opacity: 1;
}

.hide{
    float:left;
    margin-left: 150px;
}


.rank{
    border-radius: 15px;
    padding: 15px 50px;
    font-size:30px;
    opacity: 0.3;
    width:450px;
    background-color:antiquewhite;
    display: inline-block;

}

.text{
    margin-top:15px
}

p{
     font-size: 30px;
}

h1 {
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
  }
  h1:before {
    content: '';
    position: absolute;
    bottom: -15px;
    display: inline-block;
    width: 220px;
    height: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: black;
    border-radius: 2px;
  }
  
.pagetitle{
    margin: 70px 250px 0 40px;
    font-size:70px;
    text-align:center;
}

.room{
    float:left;
    margin-top: 50px;
}

.white{
    margin: 50px 0 0 0px; 
    font-size:30px;
    height: 36px;
    width: 350px;
}
.black{
    margin: 50px 0 0 100px; 
    font-size: 30px;
    color:white;
    background-color:black;
    height:42px;
    width: 260px;
}

.player{
    float:left;
    margin-top: 30px;
}

.make{
    margin-top: 70px;
    height: 50px;
    width: 500px;
}
 
 .join{
    position: absolute;
    top:100px;
    left:330px;
 }

 .box {
    position: absolute; 
    top: 250px;
    left: 200px;
    width: 600px;             
    height: 400px;              
    overflow-y: scroll;         
  }
.area{
    width: 350px;
    font-size: 28px;
    background-color:white;
}

.wait{
    margin:80px 150px 0 0px;
    -webkit-animation: blink 1s ease infinite;
	animation: blink 2s ease infinite;
}
@-webkit-keyframes blink {
	0% {opacity: 0;}
	100% {opacity: 1;}
    }
@keyframes blink {
	0% {opacity: 0;}
	100% {opacity: 1;}
    
}

.lists{
    margin: 40px 100px 0 105px;
    height: 180px;
    width: 600px;
    font-size: 20px;
    background-color:rgba(255, 255, 255, 0.2);
}

.list1{
    width: 200px;
    background-color:rgba(105, 86, 86, 0.575);
    position: absolute;
    left: 180px;
    bottom: 240px;
}
.list2{
    width: 200px;
    background-color:rgba(105, 86, 86, 0.575);
    position: absolute;
    left: 400px;
    bottom: 240px;
}
.list3{
    width: 200px;
    background-color:rgba(105, 86, 86, 0.575);
    position: absolute;
    left: 180px;
    bottom: 180px;
}

.list4{
    width: 200px;
    background-color:rgba(105, 86, 86, 0.575);
    position: absolute;
    left: 400px;
    bottom: 180px;
}

.start{
    background-color:black;
    height:50px;
    width:200px;
    color:white;
}